<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- データソース定義 -->
    <jee:jndi-lookup id="dataSource01" jndi-name="java:comp/env/jdbc/DataSource01" />
    <jee:jndi-lookup id="dataSource02" jndi-name="java:comp/env/jdbc/DataSource02" />
    <jee:jndi-lookup id="xaDataSource01" jndi-name="java:comp/env/jdbc/XADataSource01" />
    <jee:jndi-lookup id="xaDataSource02" jndi-name="java:comp/env/jdbc/XADataSource02" />
    <alias name="dataSource01" alias="dataSource" />

    <!-- MyBatis定義 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="mapperLocations" value="classpath:mapper/**/*.xml" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="jp.myapp.data.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!-- Hibernate定義 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jtaTransactionManager" ref="transactionManager" />
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

    <!-- トランザクションマネージャ定義 -->
    <tx:jta-transaction-manager />

    <!-- トランザクションアノテーションの有効化 -->
    <tx:annotation-driven />

</beans>
