<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http auto-config="true">
        <intercept-url pattern="/www/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/auth/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/service/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/captcha.jpg" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/**" access="ROLE_USER" />
        <form-login login-page="/auth/AA01S010Action.action" authentication-failure-handler-ref="authenticationFailureHandler" />
        <logout success-handler-ref="logoutSuccessHandler" />
        <custom-filter position="LAST" ref="dualLoginCheckFilter" />
    </http>

    <beans:bean id="authenticationFailureHandler" class="jp.myapp.controller.auth.handler.LoginFailureHandler">
        <beans:property name="defaultFailureUrl" value="/auth/AA01S010Action.action" />
    </beans:bean>

    <beans:bean id="logoutSuccessHandler" class="jp.myapp.controller.auth.handler.LogoutSuccessHandler" />

    <beans:bean id="dualLoginCheckFilter" class="jp.myapp.controller.auth.filter.DualLoginCheckFilter" />

    <authentication-manager>
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>

    <beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService">
            <beans:bean class="jp.myapp.service.auth.LoginUserDetailsManager">
                <beans:property name="dataSource" ref="dataSource" />
                <beans:property name="usersByUsernameQuery"
                    value="select user_id, username, password, password_updated_datetime, enabled, provisional_registration, login_error_count, last_login_datetime, logout_datetime, register_datetime, register_user_id, updated_datetime, updated_user_id, version from users where user_id = ?" />
                <beans:property name="authoritiesByUsernameQuery"
                    value="select user_id as username, authority, register_datetime, register_user_id, updated_datetime, updated_user_id, version from authorities where user_id = ?" />
            </beans:bean>
        </beans:property>
        <beans:property name="passwordEncoder" ref="passwordEncoder" />
        <beans:property name="hideUserNotFoundExceptions" value="false" />
        <beans:property name="preAuthenticationChecks">
            <beans:bean class="jp.myapp.controller.auth.checker.BeforeLoginUserChecker" />
        </beans:property>
    </beans:bean>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

</beans:beans>
