<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- コンポーネントスキャン -->
    <context:component-scan base-package="jp.myapp" />

    <!-- ログ出力インターセプター -->
    <bean id="logging" class="jp.myapp.core.interceptor.CustomLoggingInterceptor" />

    <!-- AOP定義 -->
    <aop:config>
        <aop:advisor advice-ref="logging" pointcut="execution(public * jp.myapp..*(..))" />
    </aop:config>

    <!-- オンラインバッチ定義 -->
    <alias name="applicationDataSource" alias="jobDataSource" />
    <alias name="transactionManager" alias="jobTransactionManager" />
    <alias name="transactionManager" alias="managementTransactionManager" />
    <alias name="transactionManager" alias="applicationTransactionManager" />
    <import resource="classpath:job-execution-context.xml" />
    <import resource="classpath:jobs/B01-context.xml" />

</beans>
