<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 共通設定のインポート -->
    <import resource="classpath:applicationContext.xml" />

    <!-- オンラインバッチ設定のインポート -->
    <import resource="classpath:OnlineBatch-context.xml" />

    <!-- プロパティファイル読み込み -->
    <context:property-placeholder location="classpath:database.properties" />

    <!-- データソース定義 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="initialSize" value="${dbcp.initialSize}" />
        <property name="minIdle" value="${dbcp.minIdle}" />
        <property name="maxIdle" value="${dbcp.maxIdle}" />
        <property name="maxActive" value="${dbcp.maxActive}" />
        <property name="validationQuery" value="${dbcp.validationQuery}" />
    </bean>

    <!-- コンポーネントスキャン -->
    <context:component-scan base-package="jp.myapp" />

</beans>
