<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.myapp.dao.mapper.AuthoritiesMapper">

    <resultMap type="jp.myapp.dao.entity.AuthoritiesImpl" id="authorities">
        <id column="USER_ID" property="userId" />
        <id column="AUTHORITY" property="authority" />
        <result column="REGISTER_DATETIME" property="registerDatetime" />
        <result column="REGISTER_USER_ID" property="registerUserId" />
        <result column="UPDATED_DATETIME" property="updatedDatetime" />
        <result column="UPDATED_USER_ID" property="updatedUserId" />
        <result column="VERSION" property="version" />
    </resultMap>

    <select id="select" parameterType="jp.myapp.dao.entity.AuthoritiesPK" resultMap="authorities">
        <![CDATA[
            SELECT * FROM AUTHORITIES WHERE USER_ID = #{userId} AND AUTHORITY = #{authority}
        ]]>
    </select>

    <select id="selectForUpdate" parameterType="jp.myapp.dao.entity.AuthoritiesPK" resultMap="authorities">
        <![CDATA[
            SELECT * FROM AUTHORITIES WHERE USER_ID = #{userId} AND AUTHORITY = #{authority} FOR UPDATE
        ]]>
    </select>

    <insert id="insert" parameterType="jp.myapp.dao.entity.Authorities">
        <![CDATA[
            INSERT INTO AUTHORITIES
            ( USER_ID, AUTHORITY, REGISTER_DATETIME, REGISTER_USER_ID, UPDATED_DATETIME, UPDATED_USER_ID, VERSION )
            VALUES
            ( #{userId}, #{authority}, #{registerDatetime,jdbcType=TIMESTAMP}, #{registerUserId}, #{updatedDatetime,jdbcType=TIMESTAMP}, #{updatedUserId}, #{version} )
        ]]>
    </insert>

    <update id="update" parameterType="jp.myapp.dao.entity.Authorities">
        <![CDATA[
            UPDATE AUTHORITIES
            SET REGISTER_DATETIME = #{registerDatetime,jdbcType=TIMESTAMP},
                REGISTER_USER_ID = #{registerUserId},
                UPDATED_DATETIME = #{updatedDatetime,jdbcType=TIMESTAMP},
                UPDATED_USER_ID = #{updatedUserId},
                VERSION = #{version}
            WHERE USER_ID = #{userId} AND AUTHORITY = #{authority}
        ]]>
    </update>

    <delete id="delete" parameterType="jp.myapp.dao.entity.AuthoritiesPK">
        <![CDATA[
            DELETE FROM AUTHORITIES WHERE USER_ID = #{userId} AND AUTHORITY = #{authority}
        ]]>
    </delete>

    <delete id="deleteByUserId" parameterType="string">
        <![CDATA[
            DELETE FROM AUTHORITIES WHERE USER_ID = #{userId}
        ]]>
    </delete>

</mapper>
