<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.myapp.dao.mapper.AuthoritiesMapper">

    <resultMap type="jp.myapp.dao.entity.AuthoritiesImpl" id="authorities">
        <id column="USER_ID" property="userId" />
        <id column="AUTHORITY" property="authority" />
        <result column="REGISTER_DATETIME" property="registerDatetime" />
        <result column="REGISTER_USER_ID" property="registerUserId" />
        <result column="UPDATED_DATETIME" property="updatedDatetime" />
        <result column="UPDATED_USER_ID" property="updatedUserId" />
        <result column="VERSION" property="version" />
    </resultMap>

    <select id="select" parameterType="jp.myapp.dao.entity.AuthoritiesPK" resultMap="authorities">
        <![CDATA[
            select * from AUTHORITIES where USER_ID = #{userId} and AUTHORITY = #{authority}
        ]]>
    </select>

    <select id="selectForUpdate" parameterType="jp.myapp.dao.entity.AuthoritiesPK" resultMap="authorities">
        <![CDATA[
            select * from AUTHORITIES where USER_ID = #{userId} and AUTHORITY = #{authority} for update
        ]]>
    </select>

    <insert id="insert" parameterType="jp.myapp.dao.entity.Authorities">
        <![CDATA[
            insert into AUTHORITIES
            ( USER_ID, AUTHORITY, REGISTER_DATETIME, REGISTER_USER_ID, UPDATED_DATETIME, UPDATED_USER_ID, VERSION )
            values
            ( #{userId}, #{authority}, #{registerDatetime}, #{registerUserId}, #{updatedDatetime}, #{updatedUserId}, #{version} )
        ]]>
    </insert>

    <update id="update" parameterType="jp.myapp.dao.entity.Authorities">
        <![CDATA[update AUTHORITIES]]>
        <trim prefix="set" suffixOverrides=",">
            <if test="updatedRegisterDatetime == true"><![CDATA[REGISTER_DATETIME = #{registerDatetime},]]></if>
            <if test="updatedRegisterUserId == true"><![CDATA[REGISTER_USER_ID = #{registerUserId},]]></if>
            <if test="updatedUpdatedDatetime == true"><![CDATA[UPDATED_DATETIME = #{updatedDatetime},]]></if>
            <if test="updatedUpdatedUserId == true"><![CDATA[UPDATED_USER_ID = #{updatedUserId},]]></if>
            <if test="updatedVersion == true"><![CDATA[VERSION = #{version},]]></if>
        </trim>
        <![CDATA[where USER_ID = #{userId} and AUTHORITY = #{authority}]]>
    </update>

    <delete id="delete" parameterType="jp.myapp.dao.entity.AuthoritiesPK">
        <![CDATA[
            delete from AUTHORITIES where USER_ID = #{userId} and AUTHORITY = #{authority}
        ]]>
    </delete>

    <delete id="deleteByUserId" parameterType="string">
        <![CDATA[
            delete from AUTHORITIES where USER_ID = #{userId}
        ]]>
    </delete>

</mapper>
